.App {
  display: grid;
  grid-template-columns: 30% 30% 30% auto;
  height: 100%;
  width: 100%;
}

.appNavbar {
  grid-column-start: 4;
  grid-column-end: 5;
  height: 100%;
}

.appContainer {
  grid-column-start: 1;
  grid-column-end: 4;
}

h3 {
  color: white;
}