.App {
  display: grid;
  grid-template-columns: 30% 30% 30% auto;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  
}

.appNavbar {
  grid-column-start: 4;
  grid-column-end: 5;
}

.appContainer {
  grid-column-start: 1;
  grid-column-end: 4;
}
