.navbarFullDiv {
  display: flex;
  flex-direction: column;
}

.nav_bar_title {
  color: white;
  font-family: "Bitter", serif;
  font-weight: bold;
  font-size: 3vh;
  position: fixed;
  margin-top: 5vh;
}

.nav_bar_welcome {
  color: white;
  font-family: "Bitter", serif;
  margin-top: 26vh;
  position: fixed;
}

.nav_bar_add_poet {
  color: white;
  font-family: "Bitter", serif;
  margin-top: 47vh;
  position: fixed;
}

.nav_bar_add_poem {
  color: white;
  font-family: "Bitter", serif;
  margin-top: 68vh;
  position: fixed;
}

.nav_bar_logout {
  color: white;
  font-family: "Bitter", serif;
  margin-top: 90vh;
  position: fixed;
  cursor: pointer;
}

.nav_bar_linkedin_logo {
  width: 50px;
}

.nav_bar_copyrights {
  color: rgb(216, 0, 45);
  font-family: "Bitter", serif;
  grid-row-start: 6;
}